table {
    width: 60%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    text-align:center;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width:60%;
}

    #formdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #formdiv label {
        font-weight: bolder;
    }

table button {
    padding: 2px;
    
}


#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
}

    #updateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateformdiv label {
        font-weight: bolder;
    }

#updateformdivp {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
}

    #updateformdivp label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateformdivp label {
        font-weight: bolder;
    }
#updateformdivo {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
    width: 60%;
}

    #updateformdivo label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateformdivo label {
        font-weight: bolder;
    }